<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ezh.admin.mapper.SysHxwTestMapper">

    <select id="getAll" resultType="com.github.ezh.admin.model.entity.SysHxwTest">
		SELECT
			*
		FROM
			sys_hxw_test
	</select>
</mapper>
