<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ezh.kinder.mapper.CAttendanceMapper">

    <!-- 根据年月获取我的到园记录 -->
    <select id="getSelfAttendanceByMonth" resultType="com.github.ezh.kinder.model.dto.AttendanceSelfDto">
        <![CDATA[
        SELECT
            l.date AS "date",
            l.status AS "status"
        FROM(
            SELECT
                h.date,
                CASE WHEN FIND_IN_SET(h.date, h.workStr) IS NOT NULL AND FIND_IN_SET(h.date, h.workStr) <> 0 THEN 2 ELSE (
                    CASE WHEN FIND_IN_SET(h.date, h.leaveStr) IS NOT NULL AND FIND_IN_SET(h.date, h.leaveStr) <> 0 THEN 1 ELSE 0 END
                ) END AS "status"
            FROM(
                SELECT
                    CONCAT(#{year}, '-', #{month}, '-', aa.value) AS "date",
                    (
                        SELECT
                            GROUP_CONCAT(n.leaveDate) AS "leaveStr"
                        FROM (
                            SELECT
                                DATE_FORMAT(m.leaveDate, '%Y-%m-%d') AS "leaveDate"
                            FROM (
                                SELECT
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(a.dates,',',b.help_topic_id + 1),',' ,- 1) AS "leaveDate"
                                FROM c_leave a
                                JOIN mysql.help_topic b ON b.help_topic_id < (length(a.dates) - length(REPLACE(a.dates, ',', '')) + 1)
                                WHERE a.user_id = #{userId}
                                AND a.status = 1
                            ) m
                            WHERE DATE_FORMAT(m.leaveDate, '%Y%m') = DATE_FORMAT(CONCAT(#{year}, '-', #{month}, '-01'),'%Y%m')
                            GROUP BY DATE_FORMAT(m.leaveDate, '%Y-%m-%d')
                            ORDER BY m.leaveDate
                        ) n
                    ) AS "leaveStr",
                    (
                        SELECT
                            GROUP_CONCAT(b.workDate) AS "workStr"
                        FROM (
                            SELECT
                                DATE_FORMAT(a.sign_time, '%Y-%m-%d') AS "workDate"
                            FROM c_work a
                            WHERE DATE_FORMAT(a.sign_time, '%Y%m') = DATE_FORMAT(CONCAT(#{year}, '-', #{month}, '-01'),'%Y%m')
                            AND a.user_id = #{userId}
                            GROUP BY DATE_FORMAT(a.sign_time, '%Y-%m-%d')
                            ORDER BY a.sign_time
                        ) b
                    ) AS "workStr"
                FROM user_help aa
                WHERE aa.type = 'DAY_OF_MONTH'
                AND CAST(aa.value AS SIGNED) <= DAYOFMONTH(LAST_DAY(CONCAT(#{year}, '-', #{month}, '-01')))
            ) h
        ) l
        WHERE l.status <> 0
        ]]>
    </select>

    <!-- 根据日期获取宝宝到园记录 -->
    <select id="getBabyAttendanceByDate" resultType="com.github.ezh.kinder.model.dto.AttendanceBabyDto">
        <![CDATA[
        SELECT
            y.id AS "id",
            y.name AS "name",
            y.image_id AS "photo",
            IFNULL(ca.status,y.status) AS "status"
        FROM (
            SELECT
                h.id,
                h.name,
                h.image_id,
                CASE WHEN FIND_IN_SET(h.id, h.workUserStr) IS NOT NULL AND FIND_IN_SET(h.id, h.workUserStr) <> 0 THEN 2 ELSE (
                    CASE WHEN FIND_IN_SET(h.id, h.leaveUserStr) IS NOT NULL AND FIND_IN_SET(h.id, h.leaveUserStr) <> 0 THEN 1 ELSE 0 END
                ) END AS "status"
            FROM(
                SELECT
                    su.id,
                    su.name,
                    su.image_id,
                    (
                        SELECT
                            GROUP_CONCAT(n.user_id)
                        FROM (
                            SELECT
                                cw.user_id
                            FROM c_work cw
                            WHERE DATE_FORMAT(cw.sign_time, '%Y-%m-%d') = DATE_FORMAT(#{selDate}, '%Y-%m-%d')
                            AND cw.office_id = #{officeId}
                            AND cw.class_id = #{classId}
                            GROUP BY cw.user_id
                        ) n
                    ) AS "workUserStr",
                    (
                        SELECT
                            GROUP_CONCAT(m.user_id)
                        FROM (
                            SELECT
                                cl.user_id
                            FROM c_leave cl
                            WHERE FIND_IN_SET(#{selDate}, cl.dates)
                            AND cl.office_id = #{officeId}
                            AND cl.class_id = #{classId}
                            AND cl.status = 1
                            GROUP BY cl.user_id
                        ) m
                    ) AS "leaveUserStr"
                FROM sys_user su
                WHERE su.office_id = #{officeId}
                AND su.class_id = #{classId}
                AND su.user_type = 5
                AND su.del_flag = 0
            ) h
        ) y
        LEFT JOIN c_attendance ca ON (ca.user_id = y.id and DATE_FORMAT(ca.date, '%Y-%m-%d') = DATE_FORMAT(#{selDate}, '%Y-%m-%d'))
        ORDER BY y.status DESC
        ]]>
    </select>

    <!-- 根据日期获取老师到园记录 -->
    <select id="getTeacherAttendanceByDate" resultType="com.github.ezh.kinder.model.dto.AttendanceTeacherDto">
        <![CDATA[
        SELECT
            y.id AS "id",
            y.name AS "name",
            y.class_id AS "classId",
            cc.name AS "className",
            IFNULL(ca.status,y.status) AS "status"
        FROM (
            SELECT
                h.id,
                h.name,
                h.class_id,
                CASE WHEN FIND_IN_SET(h.id, h.workUserStr) IS NOT NULL AND FIND_IN_SET(h.id, h.workUserStr) <> 0 THEN 2 ELSE (
                    CASE WHEN FIND_IN_SET(h.id, h.leaveUserStr) IS NOT NULL AND FIND_IN_SET(h.id, h.leaveUserStr) <> 0 THEN 1 ELSE 0 END
                ) END AS "status"
            FROM(
                SELECT
                    su.id,
                    su.name,
                    su.class_id,
                    (
                        SELECT
                            GROUP_CONCAT(n.user_id)
                        FROM (
                            SELECT
                                cw.user_id
                            FROM c_work cw
                            WHERE DATE_FORMAT(cw.sign_time, '%Y-%m-%d') = DATE_FORMAT(#{selDate}, '%Y-%m-%d')
                            AND cw.office_id = #{officeId}
                            GROUP BY cw.user_id
                        ) n
                    ) AS "workUserStr",
                    (
                        SELECT
                            GROUP_CONCAT(m.user_id)
                        FROM (
                            SELECT
                                cl.user_id
                            FROM c_leave cl
                            WHERE FIND_IN_SET(#{selDate}, cl.dates)
                            AND cl.office_id = #{officeId}
                            AND cl.status = 1
                            GROUP BY cl.user_id
                        ) m
                    ) AS "leaveUserStr"
                FROM sys_user su
                WHERE su.office_id = #{officeId}
                AND su.user_type = 4
                AND su.del_flag = 0
            ) h
        ) y LEFT JOIN c_class cc ON cc.id = y.class_id
        LEFT JOIN c_attendance ca ON (ca.user_id = y.id AND DATE_FORMAT(ca.date, '%Y-%m-%d') = DATE_FORMAT(#{selDate}, '%Y-%m-%d'))
        WHERE cc.id IS NOT NULL
        ORDER BY y.class_id,y.id
        ]]>
    </select>

    <!-- 根据日期获取幼儿考勤 -->
    <select id="getAllBabyAttendanceByDate" resultType="java.lang.String">
        <![CDATA[
        SELECT
        group_concat(z.num) AS "str"
        FROM (
        SELECT
        mh.`value` AS "status",
        IFNULL(ud.num,0) AS "num"
        from user_help mh
        LEFT JOIN(
        SELECT
        y.status,
        count(y.id) AS "num"
        FROM (
        SELECT
        h.id,
        h.name,
        h.image_id,
        IFNULL(ca.status,
        CASE WHEN FIND_IN_SET(h.id, h.workUserStr) IS NOT NULL AND FIND_IN_SET(h.id, h.workUserStr) <> 0 THEN 2 ELSE (
        CASE WHEN FIND_IN_SET(h.id, h.leaveUserStr) IS NOT NULL AND FIND_IN_SET(h.id, h.leaveUserStr) <> 0 THEN 1 ELSE 0 END
        ) END) AS "status"
        FROM
        (
        SELECT
        su.id,
        su.name,
        su.image_id,
        (
        SELECT
        GROUP_CONCAT(n.user_id)
        FROM
        (
        SELECT
        cw.user_id
        FROM c_work cw
        WHERE DATE_FORMAT(cw.sign_time, '%Y-%m-%d') = DATE_FORMAT(#{selDate}, '%Y-%m-%d')
        AND cw.office_id = #{officeId}
        AND cw.class_id = #{classId}
        GROUP BY cw.user_id
        ) n
        ) AS "workUserStr",
        (
        SELECT
        GROUP_CONCAT(m.user_id)
        FROM
        (
        SELECT
        cl.user_id
        FROM c_leave cl
        WHERE FIND_IN_SET(#{selDate}, cl.dates)
        AND cl.office_id = #{officeId}
        AND cl.class_id = #{classId}
        AND cl.status = 1
        GROUP BY cl.user_id
        ) m
        ) AS "leaveUserStr"
        FROM sys_user su
        WHERE su.office_id = #{officeId}
        AND su.class_id = #{classId}
        AND su.user_type = 5
        AND su.del_flag = 0
        ) h
        LEFT JOIN c_attendance ca ON (ca.user_id = h.id AND DATE_FORMAT(ca.date, '%Y-%m-%d') = DATE_FORMAT(#{selDate}, '%Y-%m-%d'))
        )y GROUP BY y.status ) ud  ON ud.status = mh.`value`
        WHERE mh.type = 'ATTENDANCE_STATUS' ) z
        ]]>
    </select>


    <select id="getByUserDate" resultType="com.github.ezh.kinder.model.entity.CAttendance">
        SELECT
            a.id AS "id",
            a.user_id AS "userId",
            a.date AS "date",
            a.status AS "status"
        FROM c_attendance a
        WHERE a.user_id = #{userId}
        AND a.date = #{date}
    </select>

    <update id="updateInfo">
        UPDATE c_attendance SET
            status = #{status}
        WHERE user_id = #{userId}
        AND `date` = #{date}
    </update>
</mapper>
