<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ezh.kinder.mapper.UserMapper">

    <sql id="userColumns">
		a.id,
    	a.office_id AS "officeId",
    	a.class_id AS "classId",
    	a.period_id AS "periodId",
    	a.login_name AS "loginName",
    	a.password,
		a.name,
		a.sex,
		a.birth,
		a.phone,
		a.mobile,
		a.user_type AS "userType",
		a.image_id AS "imageId",
		a.first_login AS "firstLogin",
		o.name AS "officeName",
		cc.name AS "className",
		ROUND(DATEDIFF(CURDATE(), a.birth)/365.2422) AS "age"
	</sql>

    <sql id="userJoins">
 		LEFT JOIN sys_office o ON o.id = a.office_id
 		LEFT JOIN c_class cc ON cc.id = a.class_id
-- 		LEFT JOIN user_config uc ON uc.user_id = a.id
	</sql>

    <!-- 查询用户 -->
    <select id="get" resultType="com.github.ezh.kinder.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="getById" resultType="com.github.ezh.kinder.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="login" resultType="com.github.ezh.kinder.model.dto.UserDto">
        SELECT
            <include refid="userColumns"/>
        FROM sys_user a
            <include refid="userJoins"/>
        WHERE a.login_name = #{loginName}
        OR a.mobile = #{loginName}
    </select>

    <!-- 根据登录名查询用户 -->
    <select id="getByLoginName" resultType="com.github.ezh.kinder.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.login_name = #{loginName}
    </select>

    <!-- 根据手机号查询用户 -->
    <select id="getByMobile" resultType="com.github.ezh.kinder.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.mobile = #{mobile}
    </select>

    <!-- 根据学校ID查询园长,根据学校ID查询教师,根据班级ID查询家长 -->
    <select id="getByAny" resultType="com.github.ezh.kinder.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        <where>
            <if test="userType != null and userType != ''">
                AND a.user_type = #{userType}
            </if>
            <if test="officeId != null and officeId != ''">
                AND a.office_id = #{officeId}
            </if>
            <if test="classId != null and classId != ''">
                AND a.class_id = #{classId}
            </if>
            <if test="userId != null and userId != ''">
                <![CDATA[
                    AND a.id <> #{userId}
                ]]>
            </if>
        </where>
        ORDER BY a.create_date
    </select>

    <update id="updateInfo">
        UPDATE sys_user SET
            <if test="classId != null and classId != ''">
                class_id = #{classId},
            </if>
            <if test="periodId != null and periodId != ''">
                period_id = #{periodId},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="imageId != null and imageId != ''">
                image_id = #{imageId},
            </if>
            <if test="firstLogin != null and firstLogin != ''">
                first_login = #{firstLogin},
            </if>
            id = #{id}
        WHERE id = #{id}
    </update>

    <update id="updatePwdByMobile">
        UPDATE sys_user SET
            password = #{password}
        WHERE mobile = #{mobile}
    </update>

    <!-- 生日提醒  -->
    <select id="getBirthdayReminder" resultType="com.github.ezh.kinder.model.vo.BirthdayReminder">
        SELECT
            su.name,
            cc.name AS "className",
            DATE_FORMAT(su.birth,'%m%d') - DATE_FORMAT(CURDATE(),'%m%d') AS "day"
        FROM sys_user su
        left join c_class cc ON su.class_id = cc.id
        WHERE su.office_id = #{officeId}
        <if test="classId != null and classId != ''">
            AND su.class_id = #{classId}
        </if>
        AND su.user_type = 5
        AND DATE_FORMAT(su.birth,'%m%d') BETWEEN DATE_FORMAT(CURDATE(),'%m%d') AND DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL #{remindDay} DAY),'%m%d')
    </select>
</mapper>