<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ezh.work.mapper.UserMapper">

    <sql id="userColumns">
		a.id,
    	a.office_id AS "officeId",
    	a.office_id AS "office.id",
    	a.class_id AS "classId",
    	a.period_id AS "periodId",
    	a.user_token AS "userToken",
    	a.login_name AS "loginName",
    	a.password,
		a.name,
		a.email,
		a.mobile,
		a.user_type AS "userType",
		a.image_id AS "imageId",
		a.photo,
		a.remarks,
		o.name AS "office.name",
		o.type AS "office.type"
	</sql>

    <sql id="userJoins">
		LEFT JOIN sys_office o ON o.id = a.office_id
	</sql>

    <!-- 查询用户 -->
    <select id="get" resultType="com.github.ezh.work.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.id = #{id}
    </select>

    <!-- 查询用户 -->
    <select id="getById" resultType="com.github.ezh.work.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.id = #{id}
    </select>

    <!-- 根据登录名查询用户 -->
    <select id="getByLoginName" resultType="com.github.ezh.work.model.dto.UserDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.login_name = #{loginName}
    </select>

    <!-- 根据学校ID查询园长,根据学校ID查询教师,根据班级ID查询家长 -->
    <select id="getByAny" resultType="com.github.ezh.work.model.dto.UserVoDto">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <include refid="userJoins"/>
        WHERE a.user_type = #{userType}
        <if test="officeId != null and officeId != ''">
            AND a.office_id = #{officeId}
        </if>
        <if test="classId != null and classId != ''">
            AND a.class_id = #{classId}
        </if>
        <if test="userId != null and userId != ''">
            <![CDATA[
			 	AND a.id <> #{userId}
			]]>
        </if>
    </select>

    <update id="updatePwd">
        UPDATE sys_user SET
            password = #{password}
        WHERE id = #{id}
    </update>

    <!-- 获取指定班级所有已绑卡学生列表和卡号 -->
    <select id="getCardUserByClassId" resultType="com.github.ezh.work.model.dto.UserVoDto">
        SELECT
           a.id AS "childId",
            a.class_id AS "classId",
            a.image_id AS "headIcon",
            a.name AS "name",
            cd.id AS "signId"
        FROM sys_user a
        LEFT JOIN c_card cd ON a.id = cd.user_id
        WHERE a.user_type = '5'
        AND a.class_id = #{classId}
        AND cd.id IS NOT NULL
        ORDER BY a.id
    </select>
</mapper>